body {
    border: 0;
    margin: 0;
}

.container-cartoon {
    margin: 100px;
    border-radius: 15px;
    background-color: beige;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;   
}

h2 {
    color: rgb(104, 6, 6);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-cartoon {
    margin: 50px;
    border-radius: 15px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: rgb(123, 169, 255);
}

.main-banner {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.form-cartoon {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box-cartoon {
    height: 20px;
    width: 290px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bolder;
}

.btn-cartoon {
    height: 30px;
    width: 147px;
    border-radius: 5px;
    background-color: aliceblue;
    font-size: 15px;
    font-weight: bold;
}